body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list.item {
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
    text-align: left;
}

.list.item li {
    padding: 1px;
    padding-right: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: grey;
}

footer span {
    display: inline-block;
    transform: rotate(180deg);
}